
CREATE TABLE IF NOT EXISTS supplier_materials (
    id BIGINT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
    supplier_id BIGINT UNSIGNED NOT NULL,
    material_id BIGINT UNSIGNED NOT NULL,
    unit_price DECIMAL(15,2) DEFAULT 0.00,
    min_order_qty DECIMAL(15,2) NULL,
    lead_time INT NULL COMMENT 'Lead time in days',
    notes TEXT NULL,
    is_preferred TINYINT(1) DEFAULT 0 COMMENT '1=preferred supplier for this material, 0=not preferred',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    
    FOREIGN KEY (supplier_id) REFERENCES suppliers(id) ON DELETE CASCADE,
    FOREIGN KEY (material_id) REFERENCES materials(id) ON DELETE CASCADE,
    UNIQUE KEY unique_supplier_material (supplier_id, material_id),
    INDEX idx_supplier_material_supplier (supplier_id),
    INDEX idx_supplier_material_material (material_id)
);
